/* Body */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */

header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Footer */

footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Intro */

.intro {
  color: #282c34;
  background-color: white;
  text-align: center;
}

/* Containers */

.container {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding-bottom: 150px;
  max-width: 95%;
}

.right-section {
  width: 38%;
  display: flex;
  padding: 20px;
}

.left-section {
  padding-right: 20px;
  width: 60%;
  position: relative;
}


/* List */

h2 {
  text-align: center;
}

.total-info {
  margin-top: -2%;
  display: flex;
  justify-content: space-aroud;
  width: 100%;
  margin-bottom: 1rem;
}

.total-info p {
  flex: 1;
  text-align: center;
  font-size: 110%;
}

.total-info label {
  font-size: 110%;
  text-align: center;
  margin-left: 4%;
}


.total-info select {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  font-size: 100%;
  color: #333;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 20px;
  transition: all 0.3s ease;
  text-align: center;
  background-color: white;
  cursor: pointer;
  width: 15%;
}

.total-info select:hover,
.total-info select.active {
  color: #007bff;
  background-color: #e6f2ff;
  border-color: #007bff;
}

.total-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; 
  margin-bottom: 2%;
}

.month-filter {
  margin-top: -2%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.month-filter label {
  margin-right: 10px;
}

.month-filter select {
  padding: 0.8%;
  text-align: center;
  font-size: 100%;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 20px;
  transition: all 0.3s ease;
  background-color: white;
  cursor: pointer;
  width: 15%;
}

.month-filter select:hover,
.month-filter select.active {
  color: #007bff;
  background-color: #e6f2ff;
  border-color: #007bff;
}

table {
  text-align: center;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.operation-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.operation-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42.5px;
  height: 40px;
  margin: 0 2px;
  font-size: 0;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.operation-button img {
  width: 50%;
  height: 50%;
}

.operation-button button:hover,
.operation-button button.active {
  color: #007bff;
  background-color: #e6f2ff;
  border-color: #007bff;
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
}

.pagination span {
  margin-top: 1.5%;
}

.pagination button {
  display: block;
  margin-top: 3%;
  padding: 1%;
  margin-bottom: 2%;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 100%;
  color: #333;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 20px;
  transition: all 0.3s ease;
  text-align: center;
  background-color: white;
  cursor: pointer;
  width: 15%;
}

.pagination button:hover,
.pagination button.active {
  color: #007bff;
  background-color: #e6f2ff;
  border-color: #007bff;
}

/* Right Container */

.right-section {
  flex: 3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #ccc;
}

/* NavBar */

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  justify-content: center;
  width: 100%;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: center;
}

.navbar ul li button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  font-size: 100%;
  width: 50px;
  height: 50px;
  color: #333;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 0 0 20px 20px;
  transition: all 0.3s ease;
  text-align: center;
  background-color: white;
  cursor: pointer;
  margin-top: -100%
}

.navbar ul li button:hover,
.navbar ul li button.active {
  color: #007bff;
  background-color: #e6f2ff;
  border-color: #007bff;
}

.navbar img {
  width: 80%;
  height: 80%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* 调整位置 */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Pie Chart */

.pie-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.pie-chart {
  max-width: 100%;
  max-height: 100%;
}

/* Add */

.add-expense {
  flex: 1;
  padding-left: 20px;
}

.add-expense h2 {
  text-align: center;
}

.add-expense form {
  display: flex;
  flex-direction: column;
}

.add-expense label {
  text-align: center;
  margin-right: 10px;
  display: inline-block;
  line-height: 30px;
}

.add-expense input {
  margin: 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 100%;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.add-expense p {
  text-align: center;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.submit-button button {
  display: block;
  padding: 10px;
  font-size: 100%;
  color: #333;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 20px;
  transition: all 0.3s ease;
  align-items: center;
  background-color: white;
  cursor: pointer;
  width: 60%;
  margin: 3% auto 0;
}

.submit-button button:hover,
.submit-button button.active {
  color: #007bff;
  background-color: #e6f2ff;
  border-color: #007bff;
}
